@using NeuronExportedDocuments.Infrastructure.Extensions
@using NeuronExportedDocuments.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/ClientScripts")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/globalLastFile")
    @RenderSection("Scripts")
    
    <script>
        Globalize.culture("ru-RU");
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">
                    @MainMessages.rs_AdminPanel
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class='@Html.IsActive("Admin", "Index")'>@Html.ActionLink(MainMessages.rs_ServiceLog, "Index", "Admin")</li>
                    <li class='@Html.IsActive("Admin", "ServiceMessages")'>@Html.ActionLink(MainMessages.rs_ServiceMessagesListShort, "ServiceMessages", "Admin")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MainMessages.rs_More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class='@Html.IsActive("Admin", "Documents")'>@Html.ActionLink(MainMessages.rs_DocumentsInfo, "Documents", "Admin")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderSection("Body")
</body>
</html>