<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/ClientScripts")
    @RenderSection("Scripts")
    
</head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img alt="Brand" src="@Url.Content("~/Content/img/neuron.png")">
                    </a>
                </div>
            </div>
        </nav>
        @RenderSection("Body")
    </body>
</html>