@using NeuronExportedDocuments.Resources
@model NeuronExportedDocuments.Models.DocumentCredentials

<div class="panel-heading">
    @MainMessages.rs_GetNeuronDocument
</div>
<div class="panel-body">
    @using (Html.BeginForm("GetDocument", "Home", new { @class = "navbar-form navbar-left" }))
    {
        @Html.ValidationSummary(true);
        <div class="form-group">
            @Html.LabelFor(model => model.PublishId, new { @class = "control-label" })
            
            <div class="control-group">
                @Html.TextBoxFor(model => model.PublishId, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.PublishId, null, new { @class = "help-inline label label-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PublishPassword, new { @class = "control-label" })
            
            <div class="control-group">
                @Html.TextBoxFor(model => model.PublishPassword, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.PublishPassword, null, new { @class = "help-inline label label-danger" })
            </div>
        </div>
        <button type="submit" class="btn btn-primary">@MainMessages.rs_GetDocument</button>
    }
</div>